/* H1 */
.g-h1 {
  font-family: "Poppins Light";
  text-transform: uppercase;
  font-size: 18px;
}
/* LABELS */
.g-labels {
  font-family: "Poppins Light";
  font-size: 12px;
}
/* INPUTS */
.g-inputs {
  height: 45px;
  width: 100%;
  padding: 0;
  border-radius: 10px;
  padding-left: 15px;
  box-sizing: border-box;
  background-color: #f0f0f0;
  font-family: "Poppins Light";
  color: #000000;
  border: none;
  margin: 10px 0;
  outline: none;
}
.g-input-boxs {
  position: relative;
}
.g-input-view {
  position: absolute;
  right: 15px;
  top: 22.5px;
  height: 15px;
  width: auto;
}
/* BUTTONS */
.g-buttons {
  width: 100%;
  height: 45px;
  border-radius: 10px;
  text-transform: uppercase;
  font-family: "Poppins Medium";
  font-size: 14px;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: linear-gradient(45deg, #f7931e, #ffac0b);
  color: #ffffff;
}
/* ANCHOR */
.g-anchor {
  text-decoration: none;
  font-family: "Poppins Light";
  font-size: 12px;
  color: #0884ac;
}
/* STATUSES */
.g-status {
  text-transform: uppercase;
  text-align: center;
  font-family: "Poppins Light";
  font-size: 9px;
  color: #03a85f;
  letter-spacing: 1px;
}
.g-status-icon {
  width: 35px;
  height: auto;
  margin-top: 30px;
}
/* HOME BUTTONS */
#g-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  column-gap: 35px;
}
.g-home-btns {
  text-align: center;
  background-color: #ffffff;
  width: 60px;
  padding: 10px 0;
  border-radius: 10px;
  box-shadow: rgba(172, 172, 172, 0.25) 0px 13px 27px -5px,
    rgba(82, 82, 82, 0.3) 0px 8px 16px -8px;
    border: none;
}
.g-home-btns svg {
  width: 18px;
  height:  auto;
}
.g-home-btns p {
  margin: 5px 0 0 0;
  font-family: "Poppins Medium";
  font-size: 13px;
}

/* HOME BOXES */
.g-boxinput {
  background-color: #F9F9F9;
  padding: 10px 15px;
  box-shadow: rgba(172, 172, 172, 0.25) 0px 13px 27px -5px,
    rgba(82, 82, 82, 0.3) 0px 8px 16px -8px;
  margin: 7px 0;
  border-radius: 15px;
}
.g-boxsliced {
  width: 100%;
}

/* HOME OPTION CHECKS */
.g-t-opt {
  text-decoration: none;
  color: #000000;
  font-family: 'Poppins Medium';
  font-size: 13px;
}
.g-active {
  color: #03A85F;
}