/*-----------------------------------*/
.app_logo {
  margin: 25px 0;
}
/*-----------------------------------*/

/*=================*/
/*==    NAVBAR   ==*/
/*=================*/
.app-home {
  display: block;
}
#home-status-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-moneywin-color);
  color: #ffffff;
  padding: 20px 25px;
}
#home-status-bar p {
  font-family: "Poppins Light";
  font-size: 13px;
  margin: 3px 0;
}
#home-username {
  font-family: "Poppins Medium" !important;
}
#home-status-bar div:nth-last-child(1) {
  text-align: right;
}

/*=================*/
/*==    DATES    ==*/
/*=================*/
#home-dateview {
  margin: 30px 0;
  display: flex;
  justify-content: center;
}
.home-filter-btn {
  background-color: transparent;
  border: none;
  font-family: "Poppins Bold";
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.home-filter-btn img {
  height: 20px;
  width: auto;
}

/*=================*/
/*==  BALANCES   ==*/
/*=================*/
#home-balanceview {
  margin: 0 25px;
}
.home-bv-items {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bvi-brd {
  border-bottom: 1px solid #eaeaea;
}
.home-bv-items span {
  font-family: "Poppins Medium";
  font-size: 14px;
  text-transform: uppercase;
}
#bvi-account {
  color: #0ea85f;
}
#bvi-bills {
  color: #a80303;
}
#bvi-credit {
  color: #0884ac;
}

/*=================*/
/*==  FUNCTIONS  ==*/
/*=================*/
#home-functions {
  margin: 40px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 18px;
}
.fn-links {
  background: transparent;
  text-decoration: none;
  width: 100%;
}
.fn-btns-div {
  background-color: var(--main-moneywin-color);
  text-align: center;
  padding: 10px 0;
  border-radius: 10px;
}
.fn-btns-div img {
  height: 15px;
  width: auto;
}
.fn-btns-div p {
  color: #ffffff;
  font-family: "Poppins Light";
  font-size: 10px;
  text-transform: uppercase;
  margin: 5px 0 0 0;
}

/*=================*/
/*==  MOVEMENTS  ==*/
/*=================*/
#home-movements {
  margin: 35px 15px 100px 25px;
}
#home-all-mv,
#home-lst-mv {
  font-family: "Poppins Medium";
  font-size: 16px;
  text-decoration: none;
  text-align: left;
  color: #717171;
}
#home-lst-mv div {
  display: flex;
  align-items: center;
}
#home-lst-mv span {
  padding-left: 10px;
}
#home-lst-mv svg {
  width: 12px;
  height: auto;
}

#home-mv-list {
  margin: 25px 0;
}

/* LAST MOVEMENTS | ITEMs LIST */
.home-mv-item {
  display: flex;
  align-items: center;
  padding: 7px 10px;
  box-shadow: 1px -1px 35px 5px rgb(248, 248, 248);
  column-gap: 20px;
}
.home-mvi-icon {
  padding: 13px 22px;
  background-color: #f9f9f9;
  border-radius: 100px;
  font-family: "Poppins Medium";
  font-size: 16px;
}
.home-mvi-info {
  display: flex;
  align-items: center;
  column-gap: 20px;
  justify-content: space-between;
  width: 100%;
}
.home-mvi-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 15px;
}
.home-mvi-delete {
  background-color: transparent;
  border: none;
  color: #000000;
}

.home-mvi-dcpt {
  text-align: left;
}
.home-mvi-balance {
  text-align: right;
}
.home-mvi-red {
  color: #a80303;
}
.home-mvi-green {
  color: #448060;
}
.home-mvi-h2 {
  font-family: "Poppins Medium";
  font-size: 14px;
  margin: 0;
}
.home-mvi-span {
  font-family: "Poppins Light";
  font-size: 12px;
}
