.app-navbar {
  background-color: white;
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1;
  box-shadow: 1px -1px 35px 5px rgb(230, 230, 230);
  display: flex;
  justify-content: space-around;
  align-items: center;
  column-gap: 15px;
}

.navbar-divbtn {
  text-align: center;
}

.navbar-divbtn svg {
  height: 24px;
  width: auto;
}

.nb-active {
  fill: var(--main-moneywin-color);
}