.app-newbill {
  margin-bottom: 100px;
}
#home-bill-form {
  margin: 30px 25px;
  margin-bottom: 30px;
  text-align: center;
}

.hn-input-text {
  margin: 0;
  text-align: left;
  font-family: "Poppins Regular";
  font-size: 11px;
  letter-spacing: 0.5px;
  color: #515151;
}
.hn-inputs {
  border: none;
  width: 100%;
  outline: none;
  font-family: "Poppins Medium";
  font-size: 13px;
  background-color: transparent;
}

.hn-bs-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hn-boxslc {
  width: 47.5%;
}

.hn-q-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hn-q-box span {
  font-family: "Poppins Medium";
  font-size: 13px;
}

.hn-slctbill {
  width: 100%;
  padding: 5px 0;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  color: #000000;
  font-size: 13px;
  font-family: 'Poppins Medium';
  cursor: pointer;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}
.hn-slctbill:hover {
  border-color: #000000;
}
.hn-slctbill:focus {
  box-shadow: 0 0 5px transparent;
  border-color: #000000;
}

/* SAVE & CANCEL BUTTONS*/

#g-hnb-cmd-s {
  background-color: #448060;
}

#g-hnb-cmd-c {
  background-color: #8c3434;
}

.hn-type-value-box,


#g-btns {
  margin-top: 5px;
  padding-bottom: 14px;
}


